body {
    /* background-color: #FBF2CF; */
    background-color: #000; 

}
.on{
    background: #A1C298;
}                
.content{
    display: grid;
    margin: auto;
    justify-content: center;
}
div{
    text-align: center;
    border-style: solid;
    border-width: 1px;
    /* border-color: #FBF2CF; */
    border-color: #C6EBC5;
}

.custom {
    background-color: #FA7070;
    color:#FBF2CF;
    border: none;
    padding: 5px;
    border-radius: 5%;
    margin: 10px auto 10px auto;
    font-weight: bold;
}

h2 {
    color: #FA7070;
    text-align: center;
    position: absolute;
    top:0;
    right:2vw;
    margin: 0.5% auto 5% auto;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#explain {
    margin-bottom: 10px; 
    border-radius: 5%; 
    border-width: thin; 
    border-color:#fff; 
    /* background-color: #000; */
}